name: CI

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  package:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: MatteoH2O1999/setup-python@v4
        with:
          python-version: 3.7
      - name: Check packages
        run: |
          python3.7 -m pip install pip setuptools wheel twine rstcheck;
          python3.7 -m pip install atomicwrites==1.0.0 --index-url https://pypi.org/simple/
          python3.7 -m pip config set global.index-url "https://:2020-09-10T13:28:14.391Z@time-machines-pypi.sealsecurity.io/"
          python3.7 -m pip install --force-reinstall pip setuptools wheel twine rstcheck;
          python3.7 setup.py sdist bdist_wheel;
          rstcheck README.rst CHANGES.rst
          python3.7 -m twine check dist/*
      - uses: "actions/upload-artifact@v4"
        with:
          name: artifacts
          path: ./dist/*
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["2.7", "3.5","3.6", "3.7", "3.8", "3.9"]
        os: [macos-15, windows-2022, ubuntu-22.04]
        experimental: [false]
        nox-session: [""]
        exclude:
          - python-version: "3.7"
            os: macos-15
          - python-version: "3.6"
            os: macos-15
          - python-version: "3.5"
            os: macos-15
          - python-version: "2.7"
            os: macos-15
          - python-version: "2.7"
            os: windows-2022

    runs-on: ${{ matrix.os }}
    name: ${{ fromJson('{"macos-15":"macOS","windows-2022":"Windows","ubuntu-22.04":"Ubuntu 22.04"}')[matrix.os] }} ${{ matrix.python-version }} ${{ matrix.nox-session}}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up Python - ${{ matrix.python-version }}
        if: ${{ matrix.python-version != '2.7' }}
        uses: MatteoH2O1999/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Python for 2.7 with deps
        if: ${{ matrix.python-version == '2.7' }}
        run: |
          sudo apt update
          sudo apt-get install -y python3 python3-pip python2 python2.7-dev build-essential libffi-dev libssl-dev wget
          wget https://bootstrap.pypa.io/pip/2.7/get-pip.py
          python2 get-pip.py
          python3 -m pip install --upgrade pip setuptools nox virtualenv==20.21.0

      - name: Install Dependencies
        if: ${{ matrix.python-version != '2.7' && matrix.python-version != 'pypy2.7' }}
        run: python -m pip install --upgrade pip setuptools nox

      - name: Run Tests
        run: ./ci/run_tests.sh
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
          NOX_SESSION: ${{ matrix.nox-session }}
